[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:henriquexns/beautifulhugo.git
[submodule "public"]
	path = public
	url = git@github.com:henriquexns/henriquexns.github.io.git
